$width : 800px;
$gutter : 20px;

/*
=================================================

									TYPOGRAPHY

=================================================
*/

	$headlineSize : 42px;
		$headlineSizeLH : 44px;

	$subheadlineSize : 32px;
		$subheadlineSizeLH : 34px;

	$midSize : 24px;
		$midSizeLH : 26px;

	$bodySize : 21px;
		$bodySizeLH : 18px;

	$metaSize : 13px;
		$metaSizeLH : 15px;


	@mixin headlineFont()
	{
		font-family:sans-serif;
		font-weight:normal;
		font-style:normal;
	}

	@mixin bodyFont()
	{
		font-family:sans-serif;
		font-weight:normal;
		font-style:normal;
	}



/*
=================================================

									COLOURS

=================================================
*/

	$black : lighten(#000000,15);
	$white : #FFFFFF;
	$grey  : lighten($black,25);

	.black {
		color:$black;
	}
		.black-bg {
			color:$black;
		}

	.white {
		color:$white;
	}
		.white-bg {
			color:$white;
		}

	.grey {
		color:$white;
	}
		.grey-bg {
			color:$grey;
		}



/*
=================================================

									GENERAL STYLES

=================================================
*/

	html, body {
		@include bodyFont();
		font-size:$bodySize;
		line-height:$bodySizeLH;

	}

	h1, h2, h3, h4, h5, h6 {
		font-weight:normal;
	}
	h1 {
		@include headlineFont();
		font-size:$headlineSize;
		line-height:$headlineSizeLH;
	}
	h2 {
		@include headlineFont();
		font-size:$subheadlineSize;
		line-height:$subheadlineSizeLH;
	}
	h3 {
		@include headlineFont();
		font-size:$midSize;
		line-height:$midSizeLH;
	}

	.left-align {
		text-align:left;
	}
	.centre-align {
		text-align:center;
	}
	.right-align {
		text-align:right;
	}

	a {
		text-decoration:none;
		opacity:1;
	}

	img {
		max-width:100%;
		height:auto;
	}



	#main {
		background-color:$black;

		/* DEBUG THE TABLE ELEMENTS */
		table {
			outline:1px solid red;

			& > tr {
				outline:1px solid blue;

				& > td {
					outline:1px solid green;
				}
			}
		}
		

		&> table {
			width:$width;
			margin:0 auto;
		}
	}

	#content {
		padding-top:50px;
		padding-bottom:50px;
	}

	.half {

		&:nth-child(1) {
			width:$width /2;
			padding-right:$gutter;
		}

		&:nth-child(2) {
			width:$width / 2;
			padding-left:$gutter;
		}
	}